﻿@model SchoolProject.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<a class="navlink" href="/Teacher/List">Back To Teachers</a>
<div id="containershow">
    <h2>@Model.TeacherFname @Model.TeacherLname</h2>
    <p><strong>Teacher Salary:</strong> @Model.TeacherSalary</p>
    <p><strong>Teacher Hiredate:</strong> @Model.TeacherDate </p>
    <p><strong>Teacher employeenumber:</strong> @Model.TeacherNumber</p>
    <h5>Teacher Class: @(Model.TeacherClass ?? "None")</h5>
    
       
    
</div>

